#prompt,#expPrompt,#options,#status,#scoreboard,#timer,#timerForm,#results{
text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 24px;
   font-family: helvetica, serif;
   text-decoration: none;
   text-align: center;
}
#prompt,#expPrompt{
	padding-top: 20px;
}
#prompt,#options,#status {
   vertical-align: middle;
   margin: auto;
   width: 100%;
   clear: both;
}
.answerButton {
	width:40px;
	display:inline-block;
   border: 3px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 20px 40px;
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   border-radius: 18px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 24px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
   
   #scoreboard	{ position:fixed; top:2%; right:2%; }
   #timer,#timerForm	{ position:fixed; top:2%; left:2%; }

/* from https://coderwall.com/p/q79kaq/force-users-to-use-ipad-landscape-orientation */
@media only screen and (orientation:portrait) {
  body {
    -webkit-transform: rotate(90deg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  div#original, div#expired {
    height: 560px; 
    margin-top: 50px;
  }
  #scoreboard	{ top:5%; }
}
